#countryMap
{
    width: 1000px;
    height: 500px;
}
.marker.cluster {
    background-image: url(images/mapmarker_s.png);
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    height: 30px;
    width: 15px;
    border: none;
    text-align: center;
    font-size: 0.6em;
    line-height: 1.8em;
    font-weight: bold;
    color: #fff;
}
.flag {
    width: 28px;
    height: 15px;
}

.modal_map_markers {
    display:    none;
    position:   relative;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     auto;
    width:      100%;
    background: rgba( 255, 255, 255, .8 );
}

.modal_map_markers div {
    background: url("images/loading.gif") no-repeat scroll 50% 50% transparent;
    display: block;
    font-size: 24px;
    font-size: 2.5vw;
    height: auto;
    margin: 200px auto;
    text-align: center;
    width: auto;
}