<!DOCTYPE html>
<html>
<head>
    <title>My first Leaflet example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" type="text/css" href="leaflet/leaflet.css">
    <link rel="stylesheet" type="text/css" href="lmc/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="lmc/MarkerCluster.Default.css">
    <link rel="stylesheet" type="text/css" href="public/style/style.css">
</head>
<body>
<div id="countryMap" class="countryMap">
    <div class="modal_map_markers">
        <div>Loading Map Markers <br> Please Wait</div>
    </div>
</div>
<input type="hidden" id="projectType" value="global">
<script type="text/javascript">
    let mapType = "",
        locations = "",
        siteName = "https://dgdportal.openfed8.blue4you.be",
        country = "<%= country %>",
        sector = "<%= sector %>",
        year = "<%= year %>";
</script>
<script src="public/scripts/bundle.js"></script>
<script src="public/scripts/leaflet-googlemaps.js"></script>
<script src="public/scripts/countryBounds.js" type="text/javascript"></script>
<script src="public/scripts/world.js" type="text/javascript"></script>
</body>
</html>